[Unit]
Description=OVOS Persona Server (Wikipedia)
PartOf=ovos.service
After=ovos.service

[Service]
ExecStart=%h/.venvs/ovos/bin/python %h/.venvs/ovos/bin/ovos-persona-server --persona %h/.config/ovos_persona/wikipedia.json --port 8400

[Install]
WantedBy=ovos.service

