[Unit]
Description=OVOS Persona Server (DuckDuckGo)
PartOf=ovos.service
After=ovos.service

[Service]
ExecStart=%h/.venvs/ovos/bin/python %h/.venvs/ovos/bin/ovos-persona-server --persona %h/.config/ovos_persona/ddg.json --port 8403

[Install]
WantedBy=ovos.service

