[Unit]
Description=OVOS Persona Server (Public Servers)
PartOf=ovos.service
After=ovos.service

[Service]
ExecStart=%h/.venvs/ovos/bin/python %h/.venvs/ovos/bin/ovos-persona-server --persona %h/.config/ovos_persona/goldy.json

[Install]
WantedBy=ovos.service

