[Unit]
Description=OVOS STT Server (Google Chromium Proxy)
PartOf=ovos.service
After=ovos.service

[Service]
ExecStart=%h/.venvs/ovos/bin/python %h/.venvs/ovos/bin/ovos-stt-server --engine ovos-stt-plugin-chromium --port 8085

[Install]
WantedBy=ovos.service

