[Unit]
Description=OVOS Persona Server (Salamandra)
PartOf=ovos.service
After=ovos.service

[Service]
ExecStart=%h/.venvs/ovos/bin/python %h/.venvs/ovos/bin/ovos-persona-server --persona %h/.config/ovos_persona/salamandra.json --port 8338

[Install]
WantedBy=ovos.service

